---
import ContactForm from "../../components/ContactForm.astro";
import timber20joinery from "../../assets/images/timber20joinery.jpg";
import Layout from "../../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import doorHanging from "../../assets/images/door-hanging-1.jpeg";
import NearbyAreasDoorHanging from "../../components/NearbyAreasDoorHanging.astro";
import FireStats from "../../components/FireStats.astro";
import CommonFaults from "../../components/CommonFaults.astro";

const currentPath = Astro.url.pathname;
const { location, type } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
let typeFormated = type
  ? type.split("-").map(capitalizeFirstLetter).join(" ")
  : "Door Hanging";

if (type === "/joinery-services/door-hanging") {
  typeFormated = "Door Hanging";
}

const locationFormated = location ? capitalizeFirstLetter(location) : "";
const alt = typeFormated + " in " + locationFormated;
---

<Layout title={typeFormated}>
  <div class="h-[600px] w-full absolute">
    <div class="w-full h-full backdrop-blur-[2px] absolute bg-gray-700/20">
    </div>
    <Image
      src={timber20joinery}
      width="856"
      height="512"
      class="object-fit w-full h-[600px]"
      alt={alt}
      loading="eager"
    />
  </div>

  <main class="mx-auto md:mt-16 relative z-10">
    <div class="flex flex-wrap max-w-screen overflow-x-hidden">
      <div class="w-full md:w-2/3 lg:w-2/3 md:px-4">
        <div
          class="flex justify-center items-center h-80 md:h-[536px] pt-16 md:pt-0 pb-16"
        >
          <h1
            class="text-[56px] leading-[56px] mt-4 font-bold text-white w-96 text-center"
          >
            {typeFormated}
            {locationFormated}
          </h1>
        </div>
      </div>

      <div class="lg:w-1/3 md:w-1/3 pr-4 pl-4">
        <div class="flex flex-wrap flex-col lg:pb-2">
          <ContactForm />
        </div>
      </div>
    </div>

    <div class="w-full container mx-auto px-8 py-8">
      <div class="flex justify-left">
        <nav class="text-sm sm:text-base pb-6">
          <ol class="list-none p-0 inline-flex space-x-2">
            <li class="flex items-center">
              <svg
                onclick="window.location.href='/';"
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 576 512"
                class="cursor-pointer hover:fill-blue-500 transition-colors duration-300 mr-2"
                fill="#4b5563"
                ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
                ></path></svg
              >
              <span class="mx-2">/</span>
            </li>
            <li class="flex items-center">
              <a
                href="/joinery-services"
                class="text-gray-600 hover:text-blue-500 transition-colors duration-300"
                >Joinery Services</a
              >
              <span class="mx-2">/</span>
            </li>

            <li class="flex items-center">
              <span class="text-yellow-600 font-semibold">{typeFormated}</span>
            </li>
          </ol>
        </nav>
      </div>

      <h1 class="text-3xl font-bold tracking-tight pb-4">
        Door Hanging {location ? "in " + locationFormated : ""}
      </h1>

      <div class="grid md:grid-cols-2 items-start gap-8">
        <div class="space-y-4">
          <div class="space-y-4 text-gray-600 prose">
            <p>
              As part of Coulsy Joinery's services, we specialise in installing
              all types of doors, including fire doors {
                location ? "in " + locationFormated : ""
              }. We are happy to visit your location to install any number of
              doors. You can supply the doors yourself, or we can provide them
              for you. Doors vary greatly, from internal to external, and can be
              made from a wide range of materials, including timber, metal,
              composite, UPVC, and engineered wood. Designs range from unpainted
              to pre-finished and can feature various veneers that alter the
              species of timber.
            </p>
            <h2 class="font-semibold text-lg">Dependable</h2>
            <p>
              If you need door sets or fire doors {
                location ? "in " + locationFormated : ""
              }, we are a dependable provider capable of meeting your precise
              requirements and ensuring compliance with current regulations for
              proper door installation.
            </p>
            <h2 class="font-semibold text-lg">Reliable</h2>
            <p>
              Our joinery team is consistently reliable and adaptable, working
              according to your door and frame specifications.
            </p>
            <h2 class="font-semibold text-lg">Skilled</h2>
            <p>
              They are highly skilled and professional, boasting extensive
              experience and qualifications in their craft.
            </p>

            <h2 class="font-semibold text-lg">City &amp; Guilds Certified</h2>
            <p>
              When you choose us, you're choosing a team that's not only
              qualified but dedicated to excellence in every aspect of our work.
            </p>

            <h2 class="font-semibold text-lg">CSCS Certified</h2>

            <p>
              When you choose us, you're choosing a team that's not only
              qualified but dedicated to excellence in every aspect of our work.
            </p>
            <p>
              We can provide more information and answer any questions you may
              have. Please feel free to <a
                href="/contact"
                class="font-semibold text-blue-700 hover:underline"
                >contact us</a
              >.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
        </div>
      </div>
    </div>
    <FireStats />
    <CommonFaults />

    <NearbyAreasDoorHanging location={location} />
  </main></Layout
>
