---
import ContactForm from "../../components/ContactForm.astro";
import timber20joinery from "../../assets/images/timber20joinery.jpg";
import Layout from "../../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import mouldingPlane from "../../assets/images/moulding_plane.png";
import benchPlane from "../../assets/images/bench-plane-frog.jpg";
import garageDoors from "../../assets/images/bespoke-joinery/handmade-wooden-garage-door.jpg";
import panelling from "../../assets/images/bespoke-joinery/raised-panelling.jpg";
import NearbyAreas from "../../components/NearbyAreasJoiner.astro"; // this location is unique a specific for the service offered !! CHECK

const { location, type } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
let typeFormated = type
  ? type.split("-").map(capitalizeFirstLetter).join(" ")
  : "Joiner";

if (type === "/joinery-services/joiner") {
  typeFormated = "Joiner";
}

const locationFormated = location ? capitalizeFirstLetter(location) : "";
const alt = typeFormated + " in " + locationFormated;
---

<Layout title={typeFormated}>
  <div class="h-[600px] w-full absolute">
    <div class="w-full h-full backdrop-blur-[2px] absolute bg-gray-700/20">
    </div>
    <Image
      src={timber20joinery}
      width="856"
      height="512"
      class="object-fit w-full h-[600px]"
      alt={alt}
      loading="eager"
    />
  </div>
  <main class="mx-auto md:mt-16 relative z-10">
    <div class="flex flex-wrap max-w-screen overflow-x-hidden">
      <div class="w-full md:w-2/3 lg:w-2/3 md:px-4">
        <div
          class="flex justify-center items-center h-80 md:h-[536px] pt-16 md:pt-0 pb-16"
        >
          <h1
            class="text-[56px] leading-[56px] mt-4 font-bold text-white w-96 text-center"
          >
            {typeFormated}
            {locationFormated}
          </h1>
        </div>
      </div>

      <div class="lg:w-1/3 md:w-1/3 pr-4 pl-4">
        <div class="flex flex-wrap flex-col lg:pb-2">
          <ContactForm />
        </div>
      </div>
    </div>

    <div class="w-full container mx-auto px-8 py-8">
      <div class="flex justify-left">
        <nav class="text-sm sm:text-base pb-6">
          <ol class="list-none p-0 inline-flex space-x-2">
            <li class="flex items-center">
              <svg
                onclick="window.location.href='/';"
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 576 512"
                class="cursor-pointer hover:fill-blue-500 transition-colors duration-300 mr-2"
                fill="#4b5563"
                ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
                ></path></svg
              >
              <span class="mx-2">/</span>
            </li>
            <li class="flex items-center">
              <a
                href="/joinery-services"
                class="text-gray-600 hover:text-blue-500 transition-colors duration-300"
                >Joiner</a
              >
              <span class="mx-2">/</span>
            </li>

            <li class="flex items-center">
              <span class="text-yellow-600 font-semibold">{typeFormated}</span>
            </li>
          </ol>
        </nav>
      </div>

      <h1 class="text-3xl font-bold tracking-tight pb-4">
        Joiner {location ? "in " + locationFormated : ""}
      </h1>

      <div class="grid md:grid-cols-2 items-start gap-8">
        <div class="space-y-4">
          <div class="space-y-4 text-gray-600 prose">
            <p>
              With over 30 years of experience in carpentry and joinery, we
              serve clients in the domestic, commercial, and industrial sectors.
              Our truly bespoke joinery service ensures high-quality
              craftsmanship.
            </p>
            <p>
              We offer tailor-made joinery products{
                location ? " in " + locationFormated : ""
              }, available for supply only or supply and installation. By
              adopting both traditional and modern woodworking techniques, we
              produce high-quality products with exceptional workmanship.
            </p>
            <p>
              Our joiners are proficient in both modern and traditional 1st Fix
              Joinery, 2nd Fix Joinery, and Final Fix principles. Using jigs and
              routers, we guarantee assured quality and craftsmanship.
            </p>
            <p>
              From handmade joinery to ready-made products from our reputable
              suppliers, we strive to provide the best possible service. Our
              range of services includes high-quality doors, windows,
              staircases, skirtings, architraves, ironmongery installation,
              traditional roofs, truss roofs, and shop fitting {
                location ? "in " + locationFormated : ""
              }.
            </p>

            <h2 class="font-semibold text-lg">Dependable</h2>
            <p>
              If you require bespoke joinery{
                location ? " in " + locationFormated : ""
              }, Coulsy Joinery is the dependable provider capable of meeting
              your precise requirements and ensuring customer satisfaction.
            </p>
            <h2 class="font-semibold text-lg">Reliable</h2>
            <p>
              Our joinery team is consistently reliable and adaptable, working
              precisely according to your bespoke joinery specifications.
            </p>
            <h2 class="font-semibold text-lg">Skilled</h2>
            <p>
              They are highly skilled and professional, with extensive
              experience and qualifications in their field.
            </p>

            <h2 class="font-semibold text-lg">City &amp; Guilds Certified</h2>
            <p>
              When you choose us, you're choosing a team that's not only
              qualified but dedicated to excellence in every aspect of our work.
            </p>
            <p>
              We can provide more information and answer any questions you may
              have. Please feel free to <a
                href="/contact"
                class="font-semibold text-blue-700 hover:underline"
                >contact us</a
              >.
            </p>
          </div>
        </div>
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-2 mt-6">
          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={mouldingPlane}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>

          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={benchPlane}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>

          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={garageDoors}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>

          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={panelling}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <NearbyAreas location={location} />
  </main></Layout
>
