---
import ContactForm from "../../components/ContactForm.astro";
import Layout from "../../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import HeaderImg from "../../assets/images/steel-exit-doors/Security-Fire-Exit-Bar-510x510.jpg";
import Img1 from "../../assets/images/steel-exit-doors/Security-Fire-Exit-Bar-510x510.jpg";
import Img2 from "../../assets/images/steel-exit-doors/Security-Fire-Exit-Bar-Top-Shoot-510x510.jpg";
import Img3 from "../../assets/images/steel-exit-doors/Fire-Exit-Security-Door-Variations-510x510.jpg";
import Img4 from "../../assets/images/steel-exit-doors/Security-Hinged-510x510.jpg";
import Img5 from "../../assets/images/steel-exit-doors/OAD-Options-fire-exit-510x510.jpg";
import Img6 from "../../assets/images/steel-exit-doors/Security-Fire-Exit-Door-510x510.jpg";
import NearbyAreas from "../../components/NearbyAreasSteelExitDoors.astro"; // this location is unique a specific for the service offered !! CHECK

const { location, type } = Astro.params;

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
let typeFormated = type
  ? type.split("-").map(capitalizeFirstLetter).join(" ")
  : "Steel Fire Exit Door Installers";

// if (type === "/joinery-services/door-hanging") {
//   typeFormated = "Door Hanging5sssss";
// }

const locationFormated = location ? capitalizeFirstLetter(location) : "";

const alt = location
  ? typeFormated +
    " in " +
    locationFormated +
    " by Coulsy Joinery for all your " +
    locationFormated +
    " steel or metal fire exit door installation and maintenance services"
  : typeFormated;
---

<Layout
  title={location ? typeFormated + " in " + locationFormated : typeFormated}
>
  <div class="h-[600px] w-full absolute">
    <div class="w-full h-full backdrop-blur-[2px] absolute bg-gray-700/20">
    </div>
    <Image
      src={HeaderImg}
      width="856"
      height="512"
      class="object-fit w-full h-[600px]"
      alt={alt}
      loading="eager"
    />
  </div>

  <main class="mx-auto md:mt-16 relative z-10">
    <div class="flex flex-wrap max-w-screen overflow-x-hidden">
      <div class="w-full md:w-2/3 lg:w-2/3 md:px-4">
        <div
          class="flex justify-center items-center h-80 md:h-[536px] pt-16 md:pt-0 pb-16"
        >
          <h1
            class="text-[56px] leading-[56px] mt-4 font-bold text-white w-96 text-center"
          >
            {typeFormated}
            {locationFormated}
          </h1>
        </div>
      </div>

      <div class="lg:w-1/3 md:w-1/3 pr-4 pl-4">
        <div class="flex flex-wrap flex-col lg:pb-2">
          <ContactForm />
        </div>
      </div>
    </div>

    <div class="w-full container mx-auto px-8 py-8">
      <div class="flex justify-left">
        <nav class="text-sm sm:text-base pb-6">
          <ol class="list-none p-0 inline-flex space-x-2">
            <li class="flex items-center">
              <svg
                onclick="window.location.href='/';"
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 576 512"
                class="cursor-pointer hover:fill-blue-500 transition-colors duration-300 mr-2"
                fill="#4b5563"
                ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
                ></path></svg
              >
              <span class="mx-2">/</span>
            </li>
            <li class="flex items-center">
              <a
                href="/joinery-services"
                class="text-gray-600 hover:text-blue-500 transition-colors duration-300"
                >Joinery Services</a
              >
              <span class="mx-2">/</span>
            </li>

            <li class="flex items-center">
              <span class="text-yellow-600 font-semibold">{typeFormated}</span>
            </li>
          </ol>
        </nav>
      </div>

      <h1 class="text-3xl font-bold tracking-tight pb-4">
        {typeFormated}
        {location ? "in " + locationFormated : ""}
      </h1>

      <div class="grid md:grid-cols-2 items-start gap-8">
        <div class="space-y-4">
          <div class="space-y-4 text-gray-600 prose">
            <h2
              style="color: grey"
              class="text-4xl font-bold tracking-tight text-green-900 sm:text-4xl mb-4 mt-4"
            >
              Our Steel Exit, Fire Exit & High-Security Steel Door Installation
              Services Include:
            </h2>
            <p>
              As part of our services, we specialise in installing all types of
              steel / metal fire exit doors {
                location ? "in " + locationFormated : ""
              }.
            </p>

            <h3
              style="color: grey"
              class="font-bold tracking-tight sm:text-2xl mb-4 mt-4"
            >
              Site Assessment & Consultation:
            </h3>
            <p>
              We assess your property {location ? "in " + locationFormated : ""}
              to determine the best type of door for your needs, ensuring optimal
              fire exit safety and security.
            </p>
            <h3
              style="color: grey"
              class="font-bold tracking-tight sm:text-2xl mb-4 mt-4"
            >
              Steel Door Installation:
            </h3>
            <p>
              Expert installation of steel exit doors, fire exit doors, and
              high-security doors, including secure frame fixing, precise
              alignment, and adjustment for proper sealing {
                location ? "in " + locationFormated : ""
              }.
            </p>
            <h3
              style="color: grey"
              class="font-bold tracking-tight sm:text-2xl mb-4 mt-4"
            >
              Fire Safety Compliance:
            </h3>
            <p>
              We ensure all steel fire exit doors are installed to meet the
              latest fire safety standards, protecting both your property and
              its occupants.
            </p>
            <hr />
            <h2
              style="color: grey"
              class="text-4xl font-bold tracking-tight text-green-900 sm:text-4xl mb-4 mt-4"
            >
              Our Steel Exit, Fire Exit & High-Security Steel Door Installation
              Services Include:
            </h2>

            <h3
              style="color: grey"
              class="font-bold tracking-tight sm:text-2xl mb-4 mt-4"
            >
              High-Security Door Installations:
            </h3>
            <p>
              High-Security Door For properties {
                location ? "in " + locationFormated : ""
              } that require advanced security, we install high-security steel doors
              that offer superior protection against break-ins, vandalism, and unauthorised
              access.
            </p>

            <h3
              style="color: grey"
              class="font-bold tracking-tight sm:text-2xl mb-4 mt-4"
            >
              Custom Solutions:
            </h3>
            <p>
              We provide tailored solutions for commercial buildings,
              warehouses, residential properties, schools, and secure
              facilities, ensuring that your emergency exit plans and security
              needs are up to standard.
            </p>

            <h3
              style="color: grey"
              class="font-bold tracking-tight sm:text-2xl mb-4 mt-4"
            >
              Repairs and Maintenance:
            </h3>
            <p>
              We offer a maintenance and repair service for steel exit doors {
                location ? "in " + locationFormated : ""
              } to ensure that your steel exit, fire exit, and high-security doors
              remain in excellent working condition.
            </p>
            <hr />

            <h2
              style="color: grey"
              class="text-4xl font-bold tracking-tight text-green-900 sm:text-4xl mb-4 mt-4"
            >
              WE ARE
            </h2>
            <h4 class="font-semibold text-lg">Dependable</h4>
            <p>
              If you need a steel fire exit door installing in {
                location ? "in " + locationFormated : ""
              }, we are a dependable provider capable of meeting your precise
              requirements and ensuring compliance with current regulations for
              proper steel/metal fire door and frame installation.
            </p>
            <h4 class="font-semibold text-lg">Reliable</h4>
            <p>
              Consistently reliable and adaptable, working according to your
              steel exit door specifications.
            </p>
            <h4 class="font-semibold text-lg">Skilled</h4>
            <p>
              Highly skilled and professional, boasting extensive experience and
              qualifications in the installation for steel fire exit doors.
            </p>

            <h4 class="font-semibold text-lg">City &amp; Guilds Certified</h4>
            <p>
              When you choose us, you're choosing a joinery team that's not only
              qualified but dedicated to excellence in every aspect of our
              joinery work.
            </p>

            <h4 class="font-semibold text-lg">CSCS Certified</h4>

            <p>
              When you choose us, you're choosing a team that's not only
              qualified but dedicated to excellence in every aspect of our work.
            </p>
            <hr />

            <h2
              style="color: grey"
              class="text-4xl font-bold tracking-tight text-green-900 sm:text-4xl mb-4 mt-4"
            >
              Ready to explore your options? <a
                href="/contact"
                class="font-semibold text-blue-700 hover:underline"
                >Get in touch today</a
              > for a <a
                href="/contact"
                class="font-semibold text-blue-700 hover:underline"
                >free consultation</a
              >.
            </h2>
          </div>
        </div>

        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-2 mt-6">
          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={Img1}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>

          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={Img2}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>

          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={Img3}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>

          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={Img4}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>
          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={Img5}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>
          <div
            class="group p-3 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
          >
            <div class="relative overflow-hidden rounded-xl">
              <Image
                src={Img6}
                alt={alt}
                loading="eager"
                width="1000"
                height="667"
                class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
              />
            </div>
          </div>
        </div>

        <!-- <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
          <Image
            src={doorHanging}
            width="350"
            class="object-fit max-w-full h-auto mx-auto block rounded-md bg-gray-100"
            alt={alt}
          />
        </div> -->
      </div>
    </div>

    <NearbyAreas location={location} />
  </main></Layout
>
