---
import { Image } from "astro:assets";
import studWall from "../assets/images/stud-wall-new-build.jpeg";
import mouldingPlane from "../assets/images/moulding_plane.png";
import gardenOffice from "../assets/images/garden-offices/garden-office-image1.jpg";
import kitchenInstallers from "../assets/images/Kitchen-Installers.jpg";
import SubcontractImg from "../assets/images/sub-contract.jpg";
import rooftop from "../assets/images/rooftop.jpg";
import cutRoofHeader from "../../src/assets/images/cut-roofs/cut-roof-header.jpg";
import doorHanging from "../assets/images/doors/fire-doors-sign.png";
import heritage from "../assets/images/heritage/oak-window-restoration.jpg";
---

<!-- <section class="w-full py-12 md:py-24 container mx-auto"> -->
<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 mt-6">
  <!-- Bespoke joinery section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={mouldingPlane}
        alt="Bespoke Joinery"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-1 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/bespoke-joinery"
          >Bespoke Joinery
        </a>
      </h3>
    </div>
  </div>

  <!-- Heritage joinery section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={heritage}
        alt="Heritage Joinery"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-1 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/bespoke-joinery"
          >Heritage Joinery
        </a>
      </h3>
    </div>
  </div>

  <!-- Sub contract joinery section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={SubcontractImg}
        alt="Sub contract Joinery"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-1 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/joinery-subcontractors"
          >Sub Contract Joinery
        </a>
      </h3>
    </div>
  </div>

  <!-- Truss section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={rooftop}
        alt="truss and trussed roof installers"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-2 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/truss-roofs">Truss Roofs</a
        >
      </h3>
    </div>
  </div>

  <!-- cut roof section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={cutRoofHeader}
        alt="Tradtional Cut Roofs"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-2 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/traditional-cut-roofs">Tradtional Cut Roofs</a
        >
      </h3>
    </div>
  </div>

  <!-- Stud wall section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={studWall}
        alt="stud wall partitioning installers"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-2 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/stud-wall-partitioning"
          >Stud Wall Partitioning</a
        >
      </h3>
    </div>
  </div>

  <!-- Door hanging section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={doorHanging}
        alt="Door Hanging and installers"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-2 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/door-hanging">Door Hanging</a
        >
      </h3>
    </div>
  </div>

  <!-- Kitchen installers section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={kitchenInstallers}
        alt="Kitchen Installers"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-2 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/kitchen-installers">Kitchen Installers</a
        >
      </h3>
    </div>
  </div>

  <!-- Garden office section -->
  <div
    class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
  >
    <div class="relative overflow-hidden rounded-xl">
      <Image
        src={gardenOffice}
        alt="Garden Offices and Rooms York"
        loading="eager"
        width="1000"
        height="667"
        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
      />
    </div>
    <div class="mt-6 relative">
      <h3
        class="text-2xl font-semibold text-gray-800 dark:text-white text-center"
      >
        <a
          class="inline-block h-auto w-full items-center rounded-md p-1 transition-colors hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900 focus:outline-none disabled:pointer-events-none disabled:opacity-50-800-50-800-50"
          href="/joinery-services/garden-offices"
          >Garden Offices and Rooms
        </a>
      </h3>
    </div>
  </div>
</div>
<!-- </section> -->
