---
import { Image } from "astro:assets";

// Props with type annotation for tags and slug
const { title, location, type, description, images, tags, slug } =
  Astro.props as {
    title: string;
    location: string;
    type: string;
    description: string;
    images: any[];
    tags?: string[];
    slug: string;
  };
---

<a href={`/projects/${slug}`} class="block hover:shadow-lg transition">
  <div
    class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-xl transition"
  >
    <Image src={images[0]} alt={title} class="w-full h-48 object-cover" />
    <div class="p-4">
      <h3 class="text-xl font-semibold mb-1">{title}</h3>
      <p class="text-sm text-gray-600 mb-2">{location} · {type}</p>
      <p class="text-sm text-gray-700 mb-3">{description}</p>
      <div class="flex flex-wrap gap-2 text-xs text-white">
        {
          tags?.map((tag, i) => (
            <span class="bg-slate-700 px-2 py-1 rounded">{tag}</span>
          ))
        }
      </div>
    </div>
  </div>
</a>
